
<style>
img{width:20%;
			height:20%;
			padding:50px;}

			ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: #dddddd;}
    li{display:inline;}

  p.sansserif {
    font-family:Britannic Bold, Helvetica, sans-serif;
}
</style>