<style>
img{width:50%;
			height:50%;
			padding:50px;}

			ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: white;}
    li{display:inline;}

  p.serif {
    font-family:Rockwell, Helvetica, serif;
}

.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #132df7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button2:hover{background-color: #f71f13}

.button1:active .button:hover{
  background-color: #f71f13;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1 .button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1:hover  {background-color: #f71f13}

.button:active .button:active {
  background-color: #f71f13;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body {color: white;}
div {color: black;}

.button3 {
 display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #bc07aa;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button3:hover  {background-color: #ffdd00}

.button3:active {
  background-color: #ffdd00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.button4 {
 display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button4:hover  {background-color: pink}

.button4:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

</style>